<section class="contato-area">
  <div class="myContainer">
      <div class="thecontainer">
        <div class="contact-box">
          <div class="left"></div>
          <div class="right">
            <h2>Contato</h2>
            <input type="text" class="field" placeholder="Seu nome">
            <input type="email" class="field" placeholder="e-mail">
            <input type="text" class="field" placeholder="telefone">
            <textarea class="field area" placeholder="Olá..."></textarea>
            <button class="mybtn">Enviar Email</button>
          </div>
        </div>
      </div>
  </div>
</section>