<section class="servicos-area">
  <div class="myContainer">
    <div class="myCard">
      <div class="imgBx">
        <img src="assets/img/card.jpg" alt="">
      </div>
      <div class="contentBx">
        <div class="content">
          <h2>Responsive Card</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex soluta consequatur minus amet
            debitis molestias recusandae impedit. Quos amet aut optio? Modi eveniet quae, accusamus autem molestias
            sint. Perferendis quod consectetur non quisquam quae doloribus tenetur totam, exercitationem quas incidunt
            beatae, consequatur provident obcaecati, facere officiis. Fuga, voluptatem rem?</p>
            <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="myCard">
      <div class="imgBx">
        <img src="assets/img/card.jpg" alt="">
      </div>
      <div class="contentBx">
        <div class="content">
          <h2>Responsive Card</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex soluta consequatur minus amet
            debitis molestias recusandae impedit. Quos amet aut optio? Modi eveniet quae, accusamus autem molestias
            sint. Perferendis quod consectetur non quisquam quae doloribus tenetur totam, exercitationem quas incidunt
            beatae, consequatur provident obcaecati, facere officiis. Fuga, voluptatem rem?</p>
            <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="myCard">
      <div class="imgBx">
        <img src="assets/img/card.jpg" alt="">
      </div>
      <div class="contentBx">
        <div class="content">
          <h2>Responsive Card</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex soluta consequatur minus amet
            debitis molestias recusandae impedit. Quos amet aut optio? Modi eveniet quae, accusamus autem molestias
            sint. Perferendis quod consectetur non quisquam quae doloribus tenetur totam, exercitationem quas incidunt
            beatae, consequatur provident obcaecati, facere officiis. Fuga, voluptatem rem?</p>
            <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="myCard">
      <div class="imgBx">
        <img src="assets/img/card.jpg" alt="">
      </div>
      <div class="contentBx">
        <div class="content">
          <h2>Responsive Card</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex soluta consequatur minus amet
            debitis molestias recusandae impedit. Quos amet aut optio? Modi eveniet quae, accusamus autem molestias
            sint. Perferendis quod consectetur non quisquam quae doloribus tenetur totam, exercitationem quas incidunt
            beatae, consequatur provident obcaecati, facere officiis. Fuga, voluptatem rem?</p>
            <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="myCard">
      <div class="imgBx">
        <img src="assets/img/card.jpg" alt="">
      </div>
      <div class="contentBx">
        <div class="content">
          <h2>Responsive Card</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex soluta consequatur minus amet
            debitis molestias recusandae impedit. Quos amet aut optio? Modi eveniet quae, accusamus autem molestias
            sint. Perferendis quod consectetur non quisquam quae doloribus tenetur totam, exercitationem quas incidunt
            beatae, consequatur provident obcaecati, facere officiis. Fuga, voluptatem rem?</p>
            <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>