<div class="em-breve">
  <img src="assets/img/capa-02.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="container">
  <div class="banner">
    <div class="logo mt-4">
      <img src="assets/img/logo-2.png" alt="" class="logo">
    </div>
    <div class="card-body">
      <h1 class="card-subtitle mb-2"><strong>Atenção!</strong></h1>
      <h1 class="card-subtitle mb-2"><strong>Estamos em obras!</strong><i class="fas fa-hard-hat" style="color:#ff9100"></i></h1>
      <h5 class="card-text">Em breve o site estará disponível!</h5>
      <p class="card-text">Enquanto isso, entre em contato via E-mail, Whatsapp e Redes Sociais</p>

      <div class="rede-social">

        <div class="rede-item mx-1">
          <a class="" href="mailto:etiel@etielengenharia.com.br?subject=Olá%20ETIEL%20Engenharia" target="_top">
            <i class="fas fa-envelope-square"></i>
          </a>
        </div>

        <div class="rede-item mx-1">
          <a class="wp-ic" href="https://api.whatsapp.com/send?phone=5511951307313" target="_blank">
            <i class="fab fa-whatsapp-square"></i>
          </a>
        </div>

        <div class="rede-item mx-1">
          <a class="ins-ic" href="https://www.instagram.com/etiel_engenharia/" target="_blank">
            <i class="fab fa-instagram-square"></i>
          </a>
        </div>

        <div class="rede-item mx-1">
          <a class="fb-ic" href="https://www.facebook.com/aetielengenharia/" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </div>

        <div class="rede-item mx-1">
          <a href="https://www.linkedin.com/company/aetielengenharia" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        
        <div class="rede-item mx-1">
          <a class="yt-ic" href="https://www.youtube.com/channel/UCCmq8oNiVHvOXwWBH0l1nUQ/featured?view_as=subscriber" target="_blank">
            <i class="fab fa-youtube-square"></i>
          </a>
        </div>

      </div>
      <!-- Copyright -->
      <div class="col footer-copyright text-center px-3 copyright">
        <a href="http://www.paccode.com.br" class="link-logo">
          <img src="./assets/image/logo_paccode.png" alt="" style="position: relative; height: 120px;">
        </a>

        <p>© 2020 Copyright:
          <a href="http://www.paccode.com.br" style="color:#ff9100;"> paccode.com.br</a>
        </p>
      </div>
    </div>
  </div>
</div>