<section id="home">
  <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators" class="carousel-fade">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="slider">
        <img [src]="image" alt="Random slide">
      </div>
      <div class="carousel-caption banner">
        <h3>Perícias de Engenharia e Avaliações de Imóveis</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<ee-servicos></ee-servicos>
<ee-contato></ee-contato>