/* You can add global styles to this file, and also import other style files */

// $font-stack:    Helvetica, sans-serif;


/* or your 'styles.scss' with */
// @import 'customize-bootstrap.scss';

$theme-colors: (
  "primary": #e02141,
  "danger": #ff4136
);

$enable-gradients: true;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import "~bootstrap/scss/bootstrap";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome";

* {
  font-family: 'Roboto', sans-serif!important;
}